

@mixin border($border-color) {
  border:1px solid $border-color;
  border-radius: 5px;
}


@mixin flex($direction, $justify) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: center;
}

@mixin results-section-dimensions {
  width: 400px;
  height: 400px;
}
