/*/////////////*/
/*  VARIABLES  */
/*/////////////*/

$light-gray: rgba(30,33,40, 0.5);
$gray: #141414;
$green: #9CDE9F;
$yellow: #F5B82E;
$orange: #FF8C42;
$red: #DB5461;
$violet: #593959;
$dark-red: #2D1115;


