/*///////////////*/
/*  BACK BUTTON  */
/*//////////////.*/

.back-button {
  @include flex(row);
  text-decoration: none;
}

.back-arrow {
  width: 40px;
  height: 40px;
}

.back-text {
  font-weight: 600;
  text-decoration: none;
  margin: 0 0 3px 0;
}
