/*///////////////*/
/*  BACK BUTTON  */
/*//////////////.*/

.back-button {
  @include flex(row);
  color: $gray;
  text-decoration: none;
}

.back-arrow {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

.back-text {
  font-size: 1.5rem;
  text-decoration: none;
  margin: 0;
}
