/*////////*/
/* FOOTER */
/*////////*/

.footer {
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-align: center;
  button {
    border: none;
    background-color: transparent;
  }
}

.info-button {
  height: 25px;
  width: 25px;
  border-radius: 50px;
  &:hover {
    background-color: $gray;
    color: white;
  }
}
