/*///////////*/
/*  LOADING  */
/*///////////*/

.loading-indicator {
  width: 120px;
  height: 120px;
  margin-top: 400px;
  color: $gray;
  animation: roll 3s infinite;
  transform: rotate(360deg);
}

@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
