/*///////////*/
/*  LOADING  */
/*///////////*/

.loading-indicator-div {
  width: 100vw;
  height: 100vh;
  margin: 0;
  text-align: center;
}

.loading-indicator {
  margin-top: 45vh;
  width: 120px;
  height: 120px;
  animation: roll 3s infinite;
  transform: rotate(360deg);
}

@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
