@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Source Sans Pro', sans-serif;
  width:100%;
  height: 100%;
  max-height: 100vh;
  margin: 0;
}

#root{
  width: 100%;
  height: 100%;
  max-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
