/*////////*/
/*  MAIN  */
/*////////*/

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins";
@import "./node_modules/bootstrap/scss/carousel";
* {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  @include flex(column);
  margin: 0;
}

.dark {
  background-color: $dark-background;
  color: $dark-font-color;
  .aqi-div, .forecast, .weather-div, .nav, .forecast-aqi-data {
    border-color: $dark-borders;
  }
}

.light {
  background-color: transparent;
  color: $gray;
  div.aqi-div, div.forecast, div.weather-div, div.nav, .forecast-aqi-data {
    border-color: $light-borders;
  }
}
