/*///////*/
/*  NAV  */
/*///////*/

.nav {
  height: 75px;
  width: 100%;
  @include flex(row, space-between);
  padding: 5px 25px 5px 5px;
  position: absolute;
  top: 0;
  z-index: 10;

  h1 {
    font-weight: 600;
    margin: 0 0 3px 0;
  }

  h2 {
    font-weight: 400;
    font-size: 1.5rem;
    margin: 0 0 0 25px;
  }

  div {
    @include flex(row);
  }
}

@media screen and (max-width: 768px) {
  .nav {
    margin: 10px 0;
    padding: 5px;
    @include flex(row, space-beween);
    //justify-content: left;

    div:last-child {
      display: none;
    }

    h1 {
      font-size: 1.7rem;
    }

    h2 {
      display: none;
    }
  }

}


