/*////////////*/
/*  APP LOGO  */
/*////////////*/

.logo-wrapper {
  @include flex(row);
  width: 100%;
}

.app-title {
  font-size: 4.5rem;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.app-logo {
  padding-bottom: 15px;
  margin: auto 0 45px 0;
  position: relative;
  width: 100px;
  height: 100px;
}

.app-logo-runner, .app-logo-cloud {
  position: absolute;
}

.app-logo-runner {
  bottom: 0;
  left: 5%;
  width: 60%;
  height: 60%;
}

.app-logo-cloud {
  top: 5%;
  right: 10%;
  width: 45%;
  height: 45%;
}
