.last-searches-div {
  @include flex(column);
  margin-top: 75px;
  h2 {
    font-weight: 300;
  }
}

.last-searches-tiles {
  @include flex(row);
  flex-wrap: wrap;
}

.last-search-element {
  margin: 15px 15px;
}


