/*//////////*/
/*  SEARCH  */
/*//////////*/

$font-size: 1.1rem;

.search-page {
  width: 100vw;
  height: 100vh;
  @include flex(column)
}

.search-form {
  width: 100%;
  @include flex(row);

  button {
    text-decoration: none;
    height: 40px;
    width: 150px;
    margin-left: 15px;
    font-size: $font-size;
    font-weight: 200;
  }
}

.search-text-field-dark fieldset, .search-text-field-dark fieldset:active {
  border-color: $dark-font-color;
  color: $dark-font-color ;
}

.search-text-field-dark label, .search-text-field-dark label:active {
  color: $dark-font-color;
}

.search-text-field-dark input {
  color: $dark-font-color;
}

