/*//////////*/
/*  SEARCH  */
/*//////////*/

$font-size: 1.1rem;

.search-page {
  margin-top: 300px;
  width: 100vw;
  height: 100vh;
}

.search-form {
  width: 100%;
  @include flex(row);

  button {
    text-decoration: none;
    height: 40px;
    width: 150px;
    margin-left: 15px;
    font-size: $font-size;
    font-weight: 200;
  }
}

.search-text-field-dark fieldset, .search-text-field-dark fieldset:active {
  border-color: white !important;
  color: white !important;
}

.search-text-field-dark label, .search-text-field-dark label:active {
  color: white;
}

.search-text-field-dark input {
  color: white;
}

//.PrivateNotchedOutline-root-5 {
//  border-color: white;
//}
//
//.MuiInput-input {
//  border-color: white;
//  color: white;
//  background-color: white;
//}
