/*//////////*/
/*  SEARCH  */
/*//////////*/

$font-size: 1.1rem;

.search-page {
  width: 100vw;
  height: 100vh;
  @include flex(column)
}

.search-form {
  width: 100%;
  @include flex(row);

  div {
    width: 25%;
    div {
      width: 100%;
    }
  }

  button {
    text-decoration: none;
    height: 40px;
    width: 150px;
    margin-left: 15px;
    font-size: $font-size;
    font-weight: 200;
  }
}

.search-text-field-dark fieldset, .search-text-field-dark fieldset:active {
  border-color: $dark-font-color;
  color: $dark-font-color ;
}

.search-text-field-dark label, .search-text-field-dark label:active {
  color: $dark-font-color;
}

.search-text-field-dark input {
  color: $dark-font-color;
}


@media screen and (max-width: 768px) {

  .search-page {
    width: 85%;
    text-align: center;
  }

  .search-form {
    @include flex(row, center);
    flex-wrap: wrap;

    :first-child {
      flex-grow: 2;
    }

    span button {
      margin: 20px 10px;
    }

    //span {
    //  max-width: 50%;
    //  margin: 0;
    //}
    //
    //button {
    //  margin-top: 15px;
    //  max-width: 100%;
    //}

    div {
      width: 90%;
      margin: auto;
    }
  }
}

@media all and (min-width: 769px) and (max-width: 1200px) {
  .search-page {
    width: 85%;
  }
  .search-form {
    div {
      width: 50%;
      margin: 0;
    }
  }
}
