/*///////*/
/*  AQI  */
/*///////*/

$font-weight-200: 200;

.aqi-div {
  grid-area: aqi;
  @include results-section-dimensions;
  @include flex(column);

  @media screen and (max-width: 1200px) {
    padding: 50px 0;
  }
  .aqi-sub-div {
    @include flex(row);
    width: 85%;
    border-top: 1px solid $light-borders;
    p {
      text-align: center;
      margin: 5px 5px 0 5px;
      width: 45%;
      padding: 20px 0;
    }
  }
  .aqi-sub-div:first-of-type {
    border: none;
  }
}

.aqi-details {
  margin: 5px;
}

.aqi-face {
  width: 85px;
  height: 85px;
  margin: 25px;
}

.aqi-city {
  font-size: 2rem;
  margin: 0;
  font-weight: $font-weight-200;
}

.aqi-title, .weather-title {
  font-size: 2rem;
  margin: 0;
  font-weight: $font-weight-200;
}

