
.forecast {
  grid-area: forecast;
  @include flex(row, space-evenly);
  height: 100%;
  width: 100%;
  border-bottom: 1px solid rgb(37, 37, 37);
}

.forecast-tile-wrapper-light, .forecast-tile-wrapper-dark {
  width: 275px;
  height: auto;
  text-align: center;
  padding: 25px 15px;
  h3 {
    margin-bottom: 15px;
    margin-top: 0;
    font-weight: 400;
  }
}

.forecast-tile {
  @include flex(row, space-evenly);
  font-size: 0.9rem;
  border-radius: 5px;
  padding: 20px 0 10px 0;
  width: 100%;
  height: 100%;
  div {
    text-align: center;
    width: 50%;
  }
}

.forecast-aqi-data {
  margin: auto 0;
  width: 100%;
  border-left: 1px solid lightgray;
}

.aqi-face-small, .weather-icon-small {
  width: 35px;
  height: 35px;
  margin-bottom: 10px
}
