/*///////////////////*/
/*  RECOMMENDATIONS  */
/*///////////////////*/

.recommendations-div {
  @include flex(row, space-evenly);
  max-height: 100%;
  grid-area: recommendations;
}

.recommendations-text {
  @include flex(column);

  div {
    @include flex(row);
    //margin: 5px auto;
    padding: 5px 25px;
    width: 100%;
  }
}

.recommendations-title {
  font-size: 2rem;
  margin: 15px auto;
  font-weight: $font-weight-200;
}
