/*///////////*/
/*  RESULTS  */
/*///////////*/

.results-page {
  width: 100%;
  height: 900px;
  margin-top: 30px;
  margin-bottom: 0;
  align-self: center;
  justify-self: center;
  padding-top: 25px;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 350px 80px repeat(2, 215px);
  grid-template-areas:
          'aqi forecast'
          'aqi recommendations'
          'weather recommendations'
          'weather recommendations'
  ;
}
