/*///////////*/
/*  RESULTS  */
/*///////////*/

.results-page {
  width: 100%;
  height: 90%;
  padding: 0 15px;
  margin: 75px 0 0 0;
  align-self: center;
  justify-self: center;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 350px 1fr;
  grid-template-rows: 300px 100px repeat(2, 200px);
  grid-template-areas:
          'aqi forecast'
          'aqi forecast'
          'weather recommendations'
          'weather recommendations'
  ;



@media all and(max-width: 768px) {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
          'aqi'
          'weather'
          'forecast'
          'recommendations'
  ;
}

@media all and (min-width: 769px) and (max-width: 1200px) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
          'aqi weather'
          'forecast forecast'
          'recommendations recommendations'
;
}
}
