/*///////////*/
/*  RESULTS  */
/*///////////*/

.results-page {
  padding-top: 25px;
}

.results-container {
  @include flex(row);
  width: 100%;
  flex-wrap: wrap;
}

.city-name {
  font-weight: 400;
  font-size: 3rem;
  margin-bottom: 0;
  margin-top: 0;
  color: $gray;
  text-align: center;
}
