/*///////////*/
/*  RESULTS  */
/*///////////*/



.results-page {
  width: 100%;
  height: 90%;
  padding: 0 15px;
  margin: 75px 0 0 0;
  align-self: center;
  justify-self: center;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 350px repeat(2, 1fr);
  grid-template-rows: repeat(4, 200px);
  grid-template-areas:
          'weather forecast forecast'
          'weather forecast forecast'
          'aqi recommendations map'
          'aqi recommendations map'
  ;

  @media all and (max-width: 768px) {
    margin-top: 90px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
            'aqi aqi'
            'weather weather'
            'map map'
            'forecast-carousel forecast-carousel'
            'recommendations recommendations'
    ;
  }

  @media all and (min-width: 769px) and (max-width: 1200px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
            'aqi weather'
            'map map'
            'forecast forecast'
            'recommendations recommendations'
    ;
  }
}
