/*///////////*/
/*  WEATHER  */
/*///////////*/

.weather-div {
  grid-area: weather;
  @include results-section-dimensions;
  @include flex(column);
  position: relative;
  //color: $gray;
  border-right: 1px solid lightgray;
}


.weather-icon {
  width: 150px;
  height: 150px;
}

.weather-details {
  margin: 5px;
}


