/*///////////*/
/*  WEATHER  */
/*///////////*/

.weather-div {
  grid-area: weather;
  @include results-section-dimensions;
  @include flex(column);
  position: relative;
  .weather-title {
    margin-bottom: 10px;
  }

  @media screen and (max-width: 768px) {
    padding: 50px 0;
  }
  .weather-sub-div {
    @include flex(row);
    width: 85%;
    border-top: 1px solid $light-borders;
    span {
      text-align: center;
      margin: 5px 5px 0 5px;
      width: 45%;
      padding: 10px 0;
      p {
        margin-top: 0;
      }
      .small-weather-icon {
        height: 25px;
        width: auto;
      }
    }
  }

  .weather-sub-div:first-of-type {
    border: none;
    margin-top: 0;
    padding-top: 0;
  }
}

.weather-icon {
  width: 125px;
  height: 125px;
}

.weather-details {
  margin: 5px;
}


