@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.App {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background: hsla(202, 71%, 27%, 1);
  background: linear-gradient(90deg, hsla(202, 71%, 27%, 1) 0%, hsla(176, 45%, 66%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(202, 71%, 27%, 1) 0%, hsla(176, 45%, 66%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(202, 71%, 27%, 1) 0%, hsla(176, 45%, 66%, 1) 100%);
}

.results-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.city-name {
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 0;
  color: white;
}

.aqi-div {
  width: 400px;
  height: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
}

.aqi-details {
  margin: 5px;
}

/*.aqi-num {*/
/*  font-size: 6rem;*/
/*  font-weight: 600;*/
/*  margin: 0;*/
/*  width:150px;*/
/*  height: 150px;*/
/*}*/

.aqi-face {
  width: 100px;
  height: 100px;
  margin: 25px;
}

.aqi-city {
  font-size: 2rem;
  margin: 0;
  font-weight: 200;
}

.aqi-title, .weather-title {
  font-size: 2rem;
  margin: 0;
  font-weight: 200;
}

.aqi-logo {
  width: 25px;
  position: absolute;
  bottom:10px;
  right: 10px;
  transition-duration: 300ms;
  border: 1px solid white;
  border-radius: 5px;
}

.aqi-logo:hover {
  width: 30px;
}

/*//////////*/
/*  SEARCH  */
/*//////////*/

.search-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form input {
  width: 25%;
  height: 40px;
  padding-left: 15px;
  border:2px solid white;
  border-radius: 5px;
  background: transparent;
}

.search-form input::placeholder, .search-form input, .search-form button {
  color: white;
  font-weight: 400;
  font-size: 1.1rem;
}

.search-form button {
  height: 45px;
  width: 150px;
  margin-left: 15px;
  background-color: white;
  border:1px solid white;
  border-radius: 5px;
  color: hsla(202, 71%, 27%, 1);
}

/*///////////*/
/*  WEATHER  */
/*///////////*/

.weather-div {
  width: 400px;
  height: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
}

.weather-icon {
  width: 150px;
  height: 150px;
}

.weather-details {
  margin: 5px;
}

.open-weather-logo {
  width: 75px;
  position: absolute;
  bottom:10px;
  right: 10px;
  transition-duration: 300ms;
}


/*///////////////*/
/*  BACK BUTTON  */
/*///////////////*/

.back-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 25px;
  left: 25px;
  color: hsla(202, 71%, 27%, 1);
  text-decoration: none;
}

.back-arrow {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

.back-text {
  font-size: 1.5rem;
  text-decoration: none;
  margin: 0;
}

/*///////////*/
/*  LOADING  */
/*///////////*/

.loading-indicator {
  width: 120px;
  height: 120px;
  color: white;
  animation: roll 3s infinite;
  transform: rotate(360deg);
}

@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
