@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.aqi-div {
  width: 400px;
  height: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.aqi-num {
  font-size: 6rem;
  font-weight: 600;
  margin: 0;

}

.aqi-city {
  font-size: 2rem;
  margin: 0;
  font-weight: 200;
}

.aqi-title {
  font-size: 2rem;
  margin: 0;
  font-weight: 200;
}

.aqi-logo {
  width: 25px;
  position: absolute;
  bottom:10px;
  right: 10px;
  transition-duration: 300ms;
  border: 1px solid white;
  border-radius: 5px;
}

.aqi-logo:hover {
  width: 30px;
}
