@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.aqi-div {
  width: 400px;
  height: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.aqi-num {
  font-size: 6rem;
  font-weight: 600;
  margin: 0;

}

.aqi-city {
  font-size: 2rem;
  margin: 0;
  font-weight: 200;
}

.aqi-title {
  font-size: 2rem;
  margin: 0;
  font-weight: 200;
}

.aqi-logo {
  width: 25px;
  position: absolute;
  bottom:10px;
  right: 10px;
  transition-duration: 300ms;
  border: 1px solid white;
  border-radius: 5px;
}

.aqi-logo:hover {
  width: 30px;
}

.search-form {
  margin-top: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form input {
  width: 25%;
  height: 40px;
  padding-left: 15px;
  border:1px solid lightgray;
  border-radius: 5px;
}

.search-form button {
  height: 45px;
  width: 150px;
  margin-left: 15px;
  background-color: lightgray;
  border:1px solid lightgray;
  border-radius: 5px;
}


/*///////////*/
/*  WEATHER  */
/*///////////*/

.weather-div {
  width: 400px;
  height: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: lightblue;
}

.weather-icon {
  width: 150px;
  height: 150px;
}

.weather-div p {
  margin: 5px;
}

.accu-weather-logo {
  width: 100px;
  position: absolute;
  bottom:10px;
  right: 10px;
  transition-duration: 300ms;
}
